[submodule "meta-raspberrypi"]
	path = meta-raspberrypi
	url = https://github.com/agherzan/meta-raspberrypi.git
	branch = scarthgap
[submodule "meta-openembedded"]
	path = meta-openembedded
	url = https://github.com/openembedded/meta-openembedded.git
	branch = scarthgap
[submodule "poky-rpi"]
	path = poky-rpi
	url = https://git.yoctoproject.org/poky
	branch = scarthgap
[submodule "DisplayApplication/lvgl"]
	path = DisplayApplication/lvgl
	url = https://github.com/lvgl/lvgl.git
	branch = release/v9.3
