[Unit]
Description=Fill framebuffer with a color on boot
After=multi-user.target
ConditionPathExists=/dev/fb0

[Service]
Type=oneshot
EnvironmentFile=-/etc/default/fb0fill
ExecStart=/usr/bin/fb0fill ${FB0FILL_COLOR:-black} ${FB0FILL_FBDEV:-/dev/fb0}

[Install]
WantedBy=multi-user.target
